.container{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.container > span{
  font-size: 55px;
  cursor: pointer;
  margin: 2px;
  border: 2px solid red;
}
.color{
  color: rgb(255, 255, 0);
}
.unColor{
  color: black;
}